# Ignore all build directories
build/* linguist-vendored

# Ignore IDE-specific files
.idea/* linguist-vendored

# Set specific files to be classified as their respective languages
*.c linguist-language=C
*.cpp linguist-language=C++
*.h linguist-language=C
*.hpp linguist-language=C++

# Ensure Makefiles are correctly classified but not overrepresented
*.mk linguist-language=Makefile

# Ignore documentation files
*.md linguist-documentation
*.rst linguist-documentation

# Other directories or files to be ignored
docs/* linguist-vendored