# Ignore all build directories
build/* linguist-vendored

# Ignore IDE-specific files
.idea/* linguist-vendored

# Force primary language of the repository
* linguist-detectable
*.c linguist-language=C
*.cpp linguist-language=C++
*.h linguist-language=C
*.hpp linguist-language=C++

# Ignore Makefile-related files
Makefile linguist-language=Makefile
*.mk linguist-language=Makefile
*.make linguist-language=Makefile

# Ignore documentation files
*.md linguist-documentation
*.rst linguist-documentation

# Other directories or files to be ignored
docs/* linguist-vendored
